/code/data/UCF-101/UCF-101/
/code/data/UCF-101/ucfTrainTestlist/
/code/data/UCF-101/val/
/code/data/tiny-Kinetics-400/tiny-Kinetics-400-data
/code/data/tiny-Kinetics-400/tiny-Kinetics-400-30fps-frames
/code/data/tiny-Kinetics-400/tiny-Kinetics-400-audio
.idea